* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-img {
    border-radius: 10px;
    width: 350px;
}

.welcome-title {
    font-size: 25px;
}

.signin-btn {
    width: 65%;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(52, 54, 175);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.user-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    background-color: rgb(55, 136, 55);
    color: white;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border: transparent;
    color: rgb(90, 86, 86);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btns-container {
    display: flex;
}

.add-chat {
    font-size: 20px;
}

.three-dots {

    font-size: 20px;
}

.name-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
    border-right: 1px rgba(128, 128, 128, 0.4) solid;
    padding: 15px;
}

.search-user-form {
    margin: 35px 0;
}

.search-user-input {
    width: 95%;
    height: 40px;
    border-radius: 20px;
    border: transparent;
    background-color: rgba(128, 128, 128, 0.2);
    padding-left: 20px;
    font-size: large
}

.search-user-input:focus {
    outline: none;
}

.user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 49, 182);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}


.user-chat-info-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-chat-info-container:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.user-name-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-last-chat {
    font-size: smaller;
    color: rgba(128, 128, 128, 0.9);
}

.user-chat-info-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-chat-info-right {
    display: flex;
    align-items: center;
    font-size: smaller;
    color: rgba(128, 128, 128, 0.9);
}

.search-user-modal {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 3;
    height: 100%;
    width: 100%;
}

.search-user-modal.show-modal {
    visibility: visible;
}

.inner-search-user-modal {
    border-radius: 10px;
    width: 270px;
    height: 270px;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search-users-input {
    outline: none;
    width: 92%;
    font-size: medium;
    padding: 3px 10px;
    height: 35px;
    border-radius: 5px;
    border: transparent;
    background-color: rgba(128, 128, 128, 0.2);
}

.users-found {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.user-found {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.user-found:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.users-found-pic {
    width: 25px;
    border-radius: 50%;
}

.users-found-name {
    font-size: 15px;
}

.close-modal-btn {
    height: 35px;
    background-color: rgb(182, 49, 182);
    border: transparent;
    border-radius: 5px;
    color: white;
    font-size: medium;
    cursor: pointer;
}